<div id="navbarBasicExample" class="navbar-menu">
  <div id="brand">
    <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
  </div>
  <div class="navbar-start">
    <a class="navbar-item" href="/homepage">
      Home Page
    </a>

    <a href="/pantree" class="navbar-item">
      Pantree
    </a>
    <a href="/recipe" class="navbar-item">
      Find Recipes
    </a>
    <a href="/myrecipes" class="navbar-item">
      Add Recipes
    </a>
    <div id="brand2">
      <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
    </div>
    </div>
    
  </div>
</div>