<div class="columns">
    <div class="column">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Cuisine
            </a>
            <div class="navbar-dropdown" id="selectCuisine">
                <a class="navbar-item" value="null">
                    All cuisines
                </a>

            </div>
        </div>
    </div>
    <div class="column">
        <div> Number of Results
            <input class="input" type="number" placeholder="i.e. 5">
        </div>
    </div>
    <div class="column">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Selection Criteria
            </a>
            <div class="navbar-dropdown" id="selectCuisine">
                <a class="navbar-item" value="1">
                    Maximize Pantree ingredients
                </a>
                <a class="navbar-item" value="2">
                    Minimize missing ingredients
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Meal Type
            </a>
            <div class="navbar-dropdown" id="selectType">
                <a class="navbar-item" value="null">
                    All meal types
                </a>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Diet
            </a>
            <div class="navbar-dropdown" id="selectDiet">
                <a class="navbar-item" value="null">
                    All diet types
                </a>

            </div>
        </div>
    </div>
    <div class="column">
<input class="button" type="submit" value="Search Recipes">
    </div>
</div>