<div class = "container">
<div class="columns">
    <div class="column">
        <div class="select">
            Selection Criteria
            <select id="selectCriteria">
                <option value="1">Maximize Pantree ingredients</option>
                <option value="2">Minimize missing ingredients</option>
            </select>
        </div>
    </div>

    <div class="column">
        <div class="select">
            Meal Type
            <select id="selectType">
                <option value="null">All meal types</option>
            </select>
        </div>
    </div>

    <div class="column">
        <div class="select">
            Diet
            <select id="selectDiet">
                <option value="null">All diet types</option>
            </select>
        </div>
    </div>

    <div class="column">
        <div class="select">
            Cuisine Type
            <select id="selectCuisine">
                <option value="null">All cuisines</option>
            </select>
        </div>
    </div>


    <div class="column">
        <div> Number of Results
            <input class="input" id = "resultsNumber" type="number" placeholder="i.e. 5">
        </div>
    </div>

    <div class="column">
        <input class="button" type="submit" id="recipeSearch">
    </div>
</div>
</div>