
/* HomePage*/
.card {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
}
.card-content {
  height: 630px;
  background-color: #CAD2C5
}

.card-footer-item {
  border: 1px solid white;
  background-color: #354F52;
}
span {
  font-weight: 500;
  font-size:large;
}
a {
  color: white;
}
/*Navbar*/
#brand {
  width: 150px;
  height:90px;
 }

 #brand2 {
   margin-top: 3px;
   width: 150px;
   height:100px;
 } 
 #navbarBasicExample {
   margin-top: 5px;
   margin-left: 350px;
   margin-bottom: 45px;
   height: 70px;
 }


/*///////////////////////////log in/////////////////////////*/

 #loginCard {
  background-color:#CAD2C5;
  height: 360px;
  margin-top: 150px;
}

#loginHeight{
  background-color: #CAD2C5;
  height: 310px;
  margin-left: 25px;
  margin-right: 25px;
}

#loginHeights{
  background-color: #CAD2C5;
  height: 260px;
  margin-top: 15px;
}
.login {
  margin-top: 5px;
}
.form-control {
  margin-top: 15px;
}
.btn {
  margin-top: 15px;
  margin-left: 45px;
}

 /*///////////////////////////Main Pantry/////////////////////////*/

 .card-content2 {
  width: 100%;
   background-color:#354F52;
 }
 .logout_btn {
   color: white;
   margin-left: 500px;
 }
 img{
   /* height: 700px; */
   cursor: pointer;
 }
 #panTreeImage {
   width: 100%;
   height: 100%;
 }
 #shoppingTile {
  background-color: #354F52;
  margin-left: 75px;
}
.shopping-list {
  margin-top: 15px;
}
 
 #pantryId {
   background-color: rgb(115, 189, 250);
 }
 .expiring-subtitle {
   color: white;
 }
 #pantryText {
   color: white;
 }
 #recipeTile {
   background-color: #CAD2C5;
 }
#recipeSearch {
  height: 250px;
}
#recipeBrent {
  margin-left: 25px;
}
#recipeJames {
  margin-right: 15px;
}
#recipeCard {
  height: 220px;
}


/*Shopping Page*/
#shoppingContainer {
  background-color:#CAD2C5;
  width: 90%;
}
#shoppingNotification {
background-color: #84A98C;
/* width: 550px; */
/* margin-left: 10%; */
margin-top: 25px;
}

/*PanTree page*/
#panTreeContainer {
    background-color:#CAD2C5;
    width: 90%;
  }
  #panTreeNotification {
  background-color: #84A98C;
  margin-top: 25px;
  }
  

#recipeCard {
  background-color:#CAD2C5;
  width:90%;
}
.title{
  text-align: center;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
h5{

  text-align: center;
  font-weight: bold;
  font-size: large;
}
.photo-column {
  margin-left: 350px;
}
li {
  margin-left: 300px;
}

#recipeTile {
  min-height: 400px;
}

#handlebarPrac {
  height: 450px;
  width: 450px;
  background-color: linen;
}

nav {
  height: 40px;
  background-color: #354F52;
  color: white;
}

.nav_text_field {
  float: left;
  width: 30%;
}

.nav_btns {
  float: right;
  width: 60%;
}

/* .is-primary {
  background-color: #354F52;} */

