
/* HomePage*/
.card {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
}
.card-content {
  height: 630px;
  background-color: #CAD2C5
}
.card-footer {
  width: 100%;
}
.card-footer-item {
  border: 1px solid white;
  background-color: #354F52;
}
span {
  font-weight: 500;
  font-size:large;
}
a {
  color: white;
}
/*Navbar*/
#brand {
  width: 150px;
  height:90px;
 }

 #brand2 {
   margin-top: 3px;
   width: 150px;
   height:90px;
 } 
 #navbarBasicExample {
   margin-top: 5px;
    /* margin-left: 350px;  */
   margin-bottom: 45px;
   height: 70px;
 }
 .navbar-start {
   margin-left: 25%;
 }

/*///////////////////////////create account/////////////////*/
.signup {
  margin-left: 20%;
}
.sign-up {
  margin-left: 9%;
  margin-top: 15px;
}

/*///////////////////////////log in/////////////////////////*/
.login-container {
  margin-bottom: 10%;
}
 #loginCard {
  background-color:#CAD2C5;
  height: 80%;
  margin-top: 10%;
}
p{
  /* margin-left: 8%; */
}
#loginHeight{
  background-color: #CAD2C5;
  height: 310px;
  margin: auto;
}

#loginHeights{
  background-color: #CAD2C5;
  height: 260px;
  margin-top: 15px;
  margin: 10%;
}
.login {
  margin-top: 5px;
  margin-left: 5%;
}
.form-control {
  margin-top: 15px;
}
.btn {
  margin-top: 15px;
  margin-left: 45px;
}

 /*///////////////////////////Main Pantry/////////////////////////*/

 .card-content2 {
  width: 100%;
  height: 100%;
   background-color:#CAD2C5;
 }
 #navigation {
  margin-right: 35%;
  width: 100%;
 }
 .logout_btn {
   color:white;
   margin-right: 95%;
 }
 img{
   cursor: pointer;
 }
 #panTreeImage {
   width: 100%;
   height: 100%;
 }
 #shoppingTile {
  background-color: #CAD2C5;
  height: 100%;
}


#shoppingId {
  background-color: #84A98C;
}

#pantryId {
  background-color: #2F3E46;
}
.shopping-list {
  margin-top: 15px;
}
 
 .expiring-subtitle {
   color: white;
 }
 #pantryText {
   color: white;
 }
 #recipeTile {
   background-color: #2F3E46;
 }
#recipeSearch {
  background-color: #52796F;
  color: white;
  margin: 10px;
}

#recipeSearchTile {
  background-color: #52796F;
  color: white;
}

#recipeBrent {
  /* margin-left: 25px; */
}
#recipeJames {
  margin-right: 15px;
}
#recipeCard {
  height: 220px;
}
#panTreeImage {
  margin-top: 55px;
  margin-right: 30px;
}
.shopping-list {
  color: white;
}
/* .subtitle {
  margin-top: 25px;
} */


/*Shopping Page*/
#shoppingContainer {
  background-color:#CAD2C5;
  width: 90%;
}
#shoppingNotification {
background-color: #84A98C;
/* width: 550px; */
/* margin-left: 10%; */
margin-top: 25px;
}

/*PanTree page*/
#panTreeContainer {
    background-color:#CAD2C5;
    width: 90%;
  }
  #panTreeNotification {
  background-color: #84A98C;
  margin-top: 25px;
  }
  

#recipeCard {
  background-color:#CAD2C5;
  width:90%;
};
.title{
  text-align: center;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
h5{

  text-align: center;
  font-weight: bold;
  font-size: large;
}
.photo-column {
  margin-left: 350px;
}
li {
  margin-left: 300px;
}

#recipeTile {
  min-height: 400px;
}

#handlebarPrac {
  height: 450px;
  width: 450px;
  background-color: linen;
}

.main-navigation {
  height: 40px;
  background-color: #354F52;
  color: white;
};

#nav_text {
  /* float: left; */
  margin-left: 20px;
  background-color: #354F52;
  color: white;
};

.nav_text {
  /* float: left; */
  margin-left: 20px;
  background-color: #354F52;
  color: white;
};


.nav_btns {
  float: right;
  width: 60%;
};

/* .is-primary {
  background-color: #354F52;} */


/*///////////////////////////Add Recipes/////////////////////////*/

.create-form {
  text-align: center;
}

  .navbar-menu {
    background-color: #CAD2C5;
  };

