<div id="navbarBasicExample" class="navbar-menu">
    <div id="brand">
      <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
    </div>
    <div class="navbar-start">
      <a class="navbar-item">
        Main Pantry
      </a>
       <a href="/shopping" class="navbar-item">
        Shopping
      </a>
      <a href="/expiring" class="navbar-item">
        Pantree
      </a>
      <a href="/recipe" class="navbar-item">
        Recipes
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Meals
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Breakfast
          </a>
          <a class="navbar-item">
            Lunch
          </a>
          <a class="navbar-item">
            Dinner
          </a>
          <a class="navbar-item">
            Snacks
          </a>
        </div>
      </div>
      <div id="brand2">
        <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
      </div>
    </div>
  </div>
  <div class="w3-container w3-teal">
    <h1>Add New Recipe</h1>
    <table class="pure-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Quantity</th>
          <th>Unit of Measure</th>
          <th>Ingredient</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <div class="pure-control-group">
              <label for="aligned-foo"></label>
              <input type="text" id="aligned-foo0" class= "quantity" placeholder="4" />
            </div>
          </td>
          <td>
            <label for="aligned-foo"></label>
            <input type="text" id="aligned-foo1" class= "unit" placeholder="tsp" />
            <!-- </div> -->
          </td>
          <td>
            <label for="aligned-foo"></label>
            <input type="text" id="aligned-foo2" class= "ingredient" placeholder="salt" />
            <!-- </div> -->
          </td>
          <td></td>
        </tr>
    </table>
        <button type= "submit" id="newIngredient">Add another ingredient</button>
        <button type= "submit" id="newInstructions">Add instructions</button>
        <button type= "submit" id="submitRecipe">Submit Recipe</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="./assets/js/addrecipe.js"></script>