<div id="navbarBasicExample" class="navbar-menu">
  <div id="brand">
    <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
  </div>
  <div class="navbar-start">
    <a class="navbar-item" href="/">
      Main Pantry
    </a>

    <a href="/shopping" class="navbar-item">
      Shopping
    </a>

    <a href="/expiring" class="navbar-item">
      Expiring
    </a>


    <a href="/recipe" class="navbar-item">
      Recipes
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Dinner
      </a>

      <div class="navbar-dropdown">
        <a class="navbar-item" href="/appetizers">
          Appetizers
        </a>
        <a class="navbar-item" href="/sidedish">
          Side Dishes
        </a>
        <a class="navbar-item" href="/maincourse">
          Main Course
        </a>
      </div>
    </div>
    <div id="brand2">
      <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
    </div>
  </div>
</div>

<div id="appetizersContainer">
  <div class="title is-4">Appetizers</div>
  {{> rps}}
</div>

