<nav class="navbar main-navigation" role="navigation">
    <div class="navbar-start">
        <a id="nav_text">
            <h1 class="nav_text"></h1>
        </a>
    </div>
    <div class="nav_btns navbar-end">
        <a class="logout_btn" href="/logout">Logout
        </a>
    </div>
</nav>

<div class="card">

    <div class="card-content2">
        <div class="tile is-ancestor" id="shoppingTile">
            <div class="tile is-vertical is-11">
                <div class="tile">
                    <div class="tile is-parent is-vertical">

                        {{!-- Shopping --}}
                        <article class="tile is-child notification" id="shoppingId">
                            <a href="/shopping">
                                <div class="columns is-mobile">
                                    <div class="columns">
                                        <div class="column is-6">
                                            <img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEuC6hz_phBr37cHmaw5Qh3bMD-bTXLgG_KYaPZ31UpUYrxFU9&usqp=CAU">
                            </a>
                    </div>
                    <div class="column is 11">
                        <p class="title">Shopping List</p>
                        <div class="shopping-list">
                            <p class="subtitle">Create an online shopping list! </p>
                        </div>
                        </article>

                        {{!-- Expiring --}}
                        <article class="tile is-child notification" id="pantryId">
                            <div class="tile is-vertical is-8">
                                <div class="columns is-mobile">
                                    <div class="columns">
                                        <div class="column is-9">
                                            <a href="/pantree">
                                                <img {{!-- src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGIIThBOLzMa1BtKhGAT6XjN5tXtty4NVWz8SNDMuULE382wCX&usqp=CAU"> --}}
                                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS6B9A-9mjo2KubmiDTN-hb_K5o81-vUgbxfqu2OC0zFD09R8yI&usqp=CAU">
                                            </a>
                                        </div>
                                        <div class="column is-8">
                                            {{!-- <a href="/pantree"> --}}
                                            <p class="title" id="pantryText">Pantree</p>
                                            <div class="expiring-subtitle">
                                                <p class="subtitle">A list of items currently in your pantree! </p>
                                            </div>
                                        </div>
                                    </div>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <article class="tile is-child notification" id="recipeTile">
                            <div class="content">
                                <div class="columns is-mobile">
                                    <div class="panTree-image" id="panTreeImage">
                                        <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="tile is-parent is-12">
                    <article class="tile is-child notification" id="recipeSearchTile">
                        <div class="content">
                            <div class="columns is-mobile">
                                <div class="columns">
                                    <div class="column is-4" id="recipeBrent">
                                        <span>Click</span> on the <span>image</span> to search for any recipes!

                                        <a href="/recipe">
                                            <img {{!-- src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxEEVgF9vkhsfFrJJHSjj_7FZUOUrE08G5PKngwInvDwMLZnE9MzijXYpTKvY&usqp=CAc"> --}}
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2BfKZqJgLl2Wc7obB3zzF5Qi3DVLn9sqlXnlLzfVS4tprhvGm&usqp=CAU">
                                        </a>
                                    </div>

                                    <div class="column is-4" id="recipeJB">
                                        <span>Click</span> on the <span>image</span> for recipes for breakfast through
                                        desert!
                                        <a href="/recipe">
                                            <img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjVGioDhmNOqSu6lPLYtUNywVVp0xFY7lLVX30WWj6DzeWmcLM&usqp=CAU">
                                        </a>
                                    </div>

                                    <div class="column is-4" id="recipeJames">
                                        <span>Click</span> on the <span>image</span> to create your own recipes!
                                        <a href="/myrecipes">
                                            <img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-wP7Egv_bfxPenA3axBC2Rjta7slsZLmCaYBzEjldoyVmkL2a&usqp=CAU">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/index.js"></script>