<nav>
    <div class="nav_text_field">
        <h1 class="nav_text"></h1>
    </div>
    <div class="nav_btns">
        <a class="logout_btn" href="/logout">Logout</a>
        <a class="login_btn" href="/login">Login</a>
        <a class="create_acc_btn" href="/createAccount">Create Account</a>
    </div>
</nav>

<div class="card">
    <div class="card-content2">
        <div class="tile is-ancestor" id="shoppingTile">
            <div class="tile is-vertical is-9">
                <div class="tile">
                    <div class="tile is-parent is-vertical">

                        {{!-- Shopping --}}
                        <article class="tile is-child notification is-primary">
                            <a href="/shopping">
                                <div class="columns is-mobile">
                                    <div class="columns">
                                        <div class="column is-6">
                                            <img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEuC6hz_phBr37cHmaw5Qh3bMD-bTXLgG_KYaPZ31UpUYrxFU9&usqp=CAU">
                                        </div>
                                        <div class="column is 10">
                                            <p class="title">Shopping:</p>
                            </a>
                        </article>

                        {{!-- Expiring --}}
                        <article class="tile is-child notification is-warning">
                            <div class="columns is-mobile">
                                <div class="columns">
                                    <div class="column is-6">
                                        <a href="/expiring"></a>
                                        <img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGIIThBOLzMa1BtKhGAT6XjN5tXtty4NVWz8SNDMuULE382wCX&usqp=CAU">
                                    </div>
                                    <div class="column is 2">
                                        <p class="title">Expiring?</p>
                                        <div class="expiring-subtitle">
                                            <p class="subtitle">Track perishable items that are about to go bad with
                                                PanTree!</p>
                                        </div>
                                        <!-- <a class="button is-centered" id="recipeButton">Button</a> -->
                                    </div>
                        </article>

                    </div>

                    <div class="tile is-parent" >
    
                            <article class="tile is-child notification is-info" id="recipeTile">
                                hi
                                <div class="content">
                                    <!-- <div class="card"> -->
                                    <div class="columns is-mobile">
                                        <div class="columns">
                                            <div class="column is-4">
                                                <a href="/myrecipes">
                                                    <img
                                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxEEVgF9vkhsfFrJJHSjj_7FZUOUrE08G5PKngwInvDwMLZnE9MzijXYpTKvY&usqp=CAc">
                                            </div>
                                            <div class="column is-3">
                                                <p class="title">Upload Your Own Recipes!</p>
                                                </a>
                                                <p class="subtitle"> Add your favorite recipes to PanTree!</p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                
                    </div>

                </div>

                <div class="tile is-parent is-12" id="recipeTile">
                    <article class="tile is-child notification is-info">
                        <div class="content">
                            <!-- <div class="card"> -->
                            <div class="columns is-mobile">
                                <div class="columns">
                                    <div class="column is-4">
                                        <a href="/recipe">
                                            <img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxEEVgF9vkhsfFrJJHSjj_7FZUOUrE08G5PKngwInvDwMLZnE9MzijXYpTKvY&usqp=CAc">
                                        </a>
                                    </div>
                                    <div class="column is-3">
                                        <p class="title">Find Recipes</p>
                                        <p class="subtitle"> Search for 1000s of yummy recipes with items in your
                                            pantree!</p>
                                        <br>
                                    </div>
                                    <div class="column is-4">
                                        <p class="subtitle"> Discover new recipes.</p>
                                        <p class="subtitle"> Make meals delicous meals you never imagined.</p>
                                        <p class="subtitle"> Wow all of your meal guests with Pantree!</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <div class="tile is-parent" id="mealTile">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <div class="content">
                            <div class="meal-choices" id="mealChoices">
                                Start any meal off with great appetizers!
                                <div class="app-pic" id="appetizerPic">
                                    <a href="/appetizers">
                                        <img
                                            src=" https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9jS2-VH34DXZgp0UAOUz5ZbOlSO43XfqdryO__KiAEfAKVOSw&usqp=CAU            ">
                                    </a>
                                </div>
                                Side dishes that compliment any main course!
                                <div class="side-pic" id="sidePic">
                                    <a href="/sidedish">
                                        <img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAj0fkD7SCfNunYtDi5DYuboH22GInFUu7b98uAhYglJObl-6c&usqp=CAU     ">
                                    </a>
                                </div>
                                Dinner ideas guaranteed to please!
                                <div class="dinner-pic" id="dinnerPic">
                                    <a href="/maincourse">
                                        <img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQI8BoscrJEUjADTjDpIvBtEBNu_YA3Y_cGpmGyI5ZsUdYjnpDy&usqp=CAU">
                                    </a>
                                </div>
                            </div>
                            <!-- <a class="button is-centered" id="recipeButton">Button</a> -->
                        </div>
                </article>

            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/index.js"></script>