<div id="navbarBasicExample" class="navbar-menu">
    <div id="brand">
        <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
        <!--swap in pantree logo -->
    </div>
    <div class="navbar-start">
        <a class="navbar-item">
            Main Pantry
        </a>

        <a class="navbar-item">
            Shopping List
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Meals
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item">
                    Breakfast
                </a>
                <a class="navbar-item">
                    Lunch
                </a>
                <a class="navbar-item">
                    Dinner
                </a>
                <a class="navbar-item">
                    Snacks
                </a>
            </div>
        </div>
        <div id="brand2">
            <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand">
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content2">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">

                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">Shopping list</p>
                            <p class="subtitle">Top tile</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">When stuff goes bad</p>
                            <p class="subtitle">Bottom tile</p>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">Main Pantry</p>
                            <figure class="image is-4by3">
                                <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT54AQRkqNWPjx5mUG6lXVR0IiLd_DEVgut-jnurmtPdAQfibI3&usqp=CAU                                       ">
                            </figure>
                        </article>
                    </div>
                </div>

                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Wide tile</p>
                        <p class="subtitle">Aligned with the right tile</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">Recipes</p>
                        <p class="subtitle">Recipes</p>
                        <div class="container recipe-container">
                            <ul>
                                {{#each recipeData}}
                                <h2>Title: {{title}}</h2>
                                <p>ID: {{id}}</p>
                                <div>Used Ingredients: {{usedIngredientCount}}</div>
                                <div class="photo"> <img src="{{image}}" </div>
                                    {{/each}}
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/pantree.js"></script>