<body>
  <div class="card">
    <div class="card-content">
      <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand" width="85%"> 
    </div>
    <footer class="card-footer">
      <p class="card-footer-item" id="mainPantry">
        <span>
         <a href="/createAccount">Sign Up</a>  
        </span>
      </p>
      <p class="card-footer-item" id="id shoppingList">
        <span>
          <a href="/login">Log In</a>
        </span>
      </p>
      
    </footer>
  </div>