
<div class="login-container">
<div class="card" id="loginCard">
  <div class="columns">
    <div class="column is-5">
      <div class="card-content" id="loginHeight">
        <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand" width="85%">
      </div>
    </div>

    <div class="column is-2">
      <div class="card-content" id="loginHeights">
        <h1>Login Form</h1>
        <form class="login">
          <div class="form-group">
            {{!-- <label for="exampleInputEmail1">Email address</label> --}}
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            {{!-- <label for="exampleInputPassword1">Password</label> --}}
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Login<a href="/homepage"></a></button>
        </form>
        <br />
        <p>Or sign up <a href="/createAccount"><span>here</span></a></p>
      </div>
    </div>

    <div class="column is-5">
      <div class="card-content" id="loginHeight">
        <img src="assets/img/pantree_primary_logo.png" alt="pantree_brand" width="85%">
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./assets/js/login.js"></script>