
/* HomePage*/
.card {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
}
.card-content {
  height: 630px;
  background-color: khaki;
}

.card-footer-item {
  border: 1px solid black;
  background-color: lightblue;
}
span {
  font-weight: 500;
  font-size:large;
}
a {
  color: rgb(38, 107, 38);
}
/*Navbar*/
#brand {
  width: 150px;
  height:90px;
 }

 #brand2 {
   margin-top: 3px;
   width: 150px;
   height:100px;
 } 
 #navbarBasicExample {
   margin-top: 5px;
   margin-left: 350px;
   height: 70px;
 }
 /*Main Pantry*/
 .card-content2 {
   height: 600px;
   background-color: khaki;
 }
 body {
   background-color: lightsalmon;
 }
